<style>
    

    .home{
        height: 100vh;width: 100%;
        font-family: 'Bebas Neue', sans-serif;
        color: rgb(218, 199, 233);
    }

</style>
<div style="background-image:url('https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?ga=GA1.1.761027243.1732807909&semt=ais_hybrid'); background-size: cover;background-repeat: no-repeat;
height: 100%;
width: 100%;">
    <section>
     <app-navbar></app-navbar>
          
     
        <div class="home">
            <h1 style="font-size:110px">SkillTrove 2.1</h1>
            <br>
            <br>
            <h3 style="font-size:80px">Learning that gets you
                Skills for your present (and your future). Get started with us.</h3>
        </div>
       
    </section></div>
  
<router-outlet></router-outlet>